<% I18n.locale = :fr%>
<%if !user_signed_in? %>
<%= render 'layouts/navbar' %>
<div class="bg-citizens">
<% end %>
<div class="container">
  <div class="card material-shadow my-5" id="event">
    <div class="card-body p-4">

      <div id="carouselInterval" class="carousel-blog slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-interval="4000">
            <img src="https://images.pexels.com/photos/890507/pexels-photo-890507.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item" data-interval="4000">
            <img src="https://lhf.glaive.pro/partners/header/1200_140_lhf_2021%20(1)-filters(1200x140).jpg" class="d-block w-100" alt="...">
          </div>
        </div>
      </div>
      
      <hr>

      <div class="card shadow mb-4 animated">

        <div class="card-header bg-white">
        
          <h1 class="blog-title">
          <%= @blog.title.capitalize %>

          <% if @blog.blog_comments.length > 3 %>
          <span class="badge badge-light float-right ml-2", title="Top Commentaires"><%= image_tag(("comment.png"), class:"best-show") %></span>
          <% end %>
          <% if @blog.likes.length > 6 %>
          <span class="badge badge-light float-right ml-2", title="Top Likes"><%= image_tag(("like.png"), class:"best-show") %></span>
          <% end %>
          <% if @blog.created_at > DateTime.now - 7 %>
            <span class="badge badge-secondary float-right", title="Publié récemment">Récent</span> 
          <% end %>
          </h1>

          <%= image_tag((@blog.user.avatar), class:"d-flex mr-3 blog-avatar") %>
          <h6 class="lead mt-3 text-muted">
          <% if @blog.user.created_events.length + @blog.user.appointments.length + @blog.user.blogs.length < 9 %>
            <span class="badge badge-light badge-pill mr-1", title="Citoyen expérimenté">★</span>
          <% end%>
          <i><%= @blog.user.last_name %> <%= @blog.user.first_name %></i>
          <% if @blog.user.has_payed == true %>
            <span class="badge badge-light badge-pill ml-1", title="Citoyen adhérent">🌱</span>
          <% end %>          
          </h6>

        </div>
            
        <div class="card-body p-2">
          <div class="row">
            <div class="col">
              <%= image_tag(('https://images.pexels.com/photos/2228559/pexels-photo-2228559.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'), class:"card-img-top p-2 blog-img") %>

              <h6>
              <%= @blog.content %>
              </h6>

              <ul class="list-group list-group-flush">
                <li class="list-group-item text-muted">Publié le <%= l(@blog.updated_at, format: "%-d %B %Y")%> par <%= @blog.user.last_name %> <%= @blog.user.first_name %></li>
              </ul>
            </div>
          </div>

          <hr>

          <div class="row text-center">

            <div class="col">
              <%= link_to "Retour", blogs_path, class:"btn btn-md btn-outline-success m-2" %>
            </div>      
            
            <div class="col", id="blog-<%=@blog.id%>-like">

              <% if user_signed_in? %>
                <% pre_like = @blog.likes.find { |like| like.user_id == current_user.id} %>
                <% if pre_like %>
                  <%= @blog.likes.count %><%= link_to image_tag(("like.png"), class:"like"), blog_like_path(@blog, pre_like), title:"Unlike", method: :delete, remote: true %>
                <% else %>
                  <%= @blog.likes.count %><%= link_to image_tag(("unlike.png"), class:"like"), blog_likes_path(@blog), title:"Like", method: :post, remote: true %>
                <% end %>
              <% else %>
                <%= @blog.likes.count %><%= link_to image_tag(("unlike.png"), class:"like"), blog_likes_path(@blog), title:"Like", method: :post %>
              <% end %>
              
            </div>

            <% if user_signed_in? %>
              <% if current_user.id == @blog.user_id || current_user.is_admin?%>

                <div class="col">
                <%= link_to '<i class="fas fa-recycle"></i>'.html_safe, edit_blog_path(@blog.id), method: 'get', title:"Modifier", class: 'btn btn-outline-warning m-2' %>
                </div>

                <div class="col">
                <%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, blog_path(@blog.id), method: 'delete', title:"Supprimer", data: {confirm: 'Êtes-vous sûr ?'}, class: 'btn btn-outline-danger m-2' %>
                </div>
                
              <% end %>
            <% end %>
              
          </div>

          <hr>

          <div class="row">
            <div class="col">
            
            <%= render 'blog_comments/form' %>

              <div id="blog-comment">
                <% @blog.blog_comments.order('created_at DESC').each do |comment| %>

                  <div id="blog-comment-<%=comment.id%>">
                    <div class="card p-3">    
                      <div class="media">

                        <%= image_tag((comment.user.avatar), class:"d-flex mr-3 rounded-circle avatar") %>
                        <div class="media-body">
                          <li class="float-right">Posté le <%= l(comment.updated_at,format: "%-d %B %Y à %Hh %M") %></li>
                          <h5 class="mt-0 text-muted">
                          <% if comment.user.created_events.length + comment.user.appointments.length + comment.user.blogs.length < 10 %>
                            <span class="badge badge-light badge-pill mr-1", title="Citoyen expérimenté">★</span>
                          <% end%>
                          <i><%=  "#{comment.user.first_name}" ' ' "#{comment.user.last_name}"%></i>
                          <% if comment.user.has_payed == true %>
                            <span class="badge badge-light badge-pill ml-1", title="Citoyen adhérent">🌱</span>
                          <% end %>                          
                          </h5>
                          <p><%= comment.text %></p>
                          
                          <% if user_signed_in? && comment.user == current_user || user_signed_in? && current_user.is_admin == true %>

                            <%= link_to '<i class="fas fa-recycle"></i>'.html_safe, edit_blog_comment_path(comment, blog_comment: { text: comment.text, user_id: comment.user_id, blog_id: comment.blog_id }), title:"Modifier", class:"btn btn-sm btn-outline-warning btn-rounded m-1" %>
                            <%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, comment, method: :delete, remote: true, title:"Supprimer", class:"btn btn-sm btn-outline-danger btn-rounded m-1" %>

                          <% end %>
                        </div>


                      </div>
                    </div>
                  </div>

                <% end %>
              </div>

            </div>
          </div>



        </div>

      </div>
    </div>
  </div>
</div>
<%if !user_signed_in? %>
<%= render 'layouts/footer' %>
</div>
<% end %>