<% I18n.locale = :fr%>
<div class="container">
  <div class="card border-0 shadow my-5" id="event">
    <div class="card-body p-4">

      <div id="carouselInterval" class="carousel-blog slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-interval="4000">
            <img src="https://images.pexels.com/photos/890507/pexels-photo-890507.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="d-block w-100" alt="...">
            <p>Hello!</p>
          </div>
          <div class="carousel-item" data-interval="4000">
            <img src="https://lhf.glaive.pro/partners/header/1200_140_lhf_2021%20(1)-filters(1200x140).jpg" class="d-block w-100" alt="...">
          </div>
        </div>
      </div>
      
      <hr>

      <div class="row">

        <div class="col-md-8 col-sm-12">

          <div class="wrapper">
            <% @events.each do |event| %>
            
            <div class="card mb-4 shadow animated event">

              <div class="card-header bg-white">

                <h2 class="event-title"><%= event.title %>
                <% if event.event_type.id == 1 %>
                  <span class="badge badge-pill badge-success float-right"><%= event.event_type.name %></span>
                <% elsif event.event_type.id == 2 %>
                  <span class="badge badge-pill badge-danger float-right"><%= event.event_type.name %></span>
                <% elsif event.event_type.id == 3 %>
                  <span class="badge badge-pill badge-warning float-right"><%= event.event_type.name %></span>
                <% end %>
                </h2>
                
                <%= image_tag((event.creator.avatar), class:"d-flex mr-3  -circle event-avatar") %>
                <h5 class="lead mt-3 text-muted creator">
                <% if event.creator.created_events.length + event.creator.appointments.length + event.creator.blogs.length < 9 %>
                  <span class="badge badge-light badge-pill mr-1">★</span>
                <% end%>
                <%= event.creator.last_name %> <%= event.creator.first_name %>
                <% if event.end_date < DateTime.now %>
                  <span class="badge badge-pill badge-dark float-right">Terminé</span>
                <% else %>
                  <span class="badge badge-pill badge-light float-right">Disponible</span>
                <% end %></h5>


              </div>

              <div class="card-body">

                <div class="row">
                
                  <div class="col-4 sm-12">

                  <% if event.event_type.id == 1 %>
                    <%= image_tag(("https://images.pexels.com/photos/1301856/pexels-photo-1301856.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260"),  class:"img-fluid card-img p-1 mt-2 event-img") %>
                  <% elsif event.event_type.id == 2 %>
                    <%= image_tag(("https://images.pexels.com/photos/1508666/pexels-photo-1508666.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"),  class:"img-fluid card-img p-1 mt-2 event-img") %>
                  <% elsif event.event_type.id == 3 %>
                    <%= image_tag(("https://images.pexels.com/photos/2696064/pexels-photo-2696064.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"),  class:"img-fluid card-img p-1 mt-2 event-img") %>
                  <% end %>

                  </div>
  
                  <div class="col">

                    <div class="card-body p-2">

                      <ul class="list-group list-group-flush">
                        <li class="list-group-item lead">Commence le <a class="date"><%=l(event.start_date, format: "%-d %B %Y à %Hh %M")%></a></li>
                        <% if event.appointments.count > 0 %> 
                          <li class="list-group-item"><strong><%= event.appointments.count > 1 ? 'Nombre de participants : ' : 'Nombre de participant : ' %> <%= event.appointments.count %></strong></li>
                        <% else %>
                          <li class="list-group-item"><strong>Aucun participant</strong></li>
                        <% end %>
                        <li class="list-group-item"><strong>Quartier :</strong> <a class="adress"><%= event.address.sector %></a></li>
                        <li class="list-group-item"><strong>Ville :</strong> <a class="city"><%= event.address.city%></a></li>
                      </ul>

                      <div class="text-center">

                        <%= link_to "Voir l'évenement", event_path(event.id), class:"btn btn-md btn-outline-success btn-block mt-2 mb-1" %>
                      
                      </div>

                    </div>

                  </div>
                
                </div>
              
              </div>

            </div>

            <% end %>
          </div>

        </div>

        <div class="col-md-4 events-aside">

          <div class="card mb-4">
            <h5 class="card-header title">Rechercher un évenement :</h5>
            <div class="card-body">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Catégories, quartiers..." id="eventsearch" onkeyup="eventsearchFunction()">
                <span class="input-group-btn">
                  <button class="btn btn-outline-secondary disabled" type="button"><i class="fa fa-search"></i></button>
                </span>
              </div>
            </div>
          </div>

          <div class="card mb-4"> 
            
            <div class-="card-header">
              <h5 class="card-header bg-white title">Tout le monde y gagne !</h5>
            </div>  

            <div class="card-body text-center">
              <p>
              Proposer une récolte, livraison, préparation...
              </p>
              <%= link_to 'Proposer', new_event_path, class: 'btn btn-md btn-success btn-rounded' %>
            </div>

          </div>

          <div class="card mb-4">

            <h5 class="card-header bg-white title">Ville partenaires</h5>

            <div class="card-body p-1">
              <div class="row">
                <div class="col-lg-12">

                  <section class="showcase-style-2 p-relative bg-white p-0">
                    <div class="container events-store">
                      <div class="row-12 ">

                        <% @stores.each do |store| %>

                          <div class="col-12 p-1">
                            <div class="card background-cover flat no-border" id="city-bg">
                              <div class="showcase-details p-absolute w-100 h-100 text-center d-none align-center flex-column justify-center h1">
                                <i class="fa fa-heart cdanger"></i>
                                <h2 class="cwhite p-2 font-title"><%= store.name %></h2>
                              </div>
                            </div>
                          </div>

                        <% end %>

                      </div>
                    </div>
                  </section>

                </div>
              </div>
            </div>

          </div>

        </div>
      </div>

    </div>
  </div>
</div>

