<% I18n.locale = :fr%>
<div class="container">
  <div class="card material-shadow my-5" id="event">
    <div class="card-body p-4">

      <div id="carouselInterval" class="carousel-blog slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-interval="4000">
            <img src="https://images.pexels.com/photos/890507/pexels-photo-890507.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item" data-interval="4000">
            <img src="https://lhf.glaive.pro/partners/header/1200_140_lhf_2021%20(1)-filters(1200x140).jpg" class="d-block w-100" alt="...">
          </div>
        </div>
      </div>
      
      <hr>

      <div class="card shadow mb-4 animated">

        <div class="card-header bg-white">

          <h1 class="event-title">
          <%= @event.title %>

          <% if @event.event_type.id == 1 %>
            <span class="badge badge-pill badge-success float-right"><%= @event.event_type.name %></span>
          <% elsif @event.event_type.id == 2 %>
            <span class="badge badge-pill badge-danger float-right"><%= @event.event_type.name %></span>
          <% elsif @event.event_type.id == 3 %>
            <span class="badge badge-pill badge-warning float-right"><%= @event.event_type.name %></span>
          <% end %>
          </h1>
        
          <%= image_tag((@event.creator.avatar), class:"d-flex mr-3 event-avatar") %>
          <h5 class="lead mt-3 text-muted creator">
          <% if @event.creator.created_events.length + @event.creator.appointments.length + @event.creator.blogs.length < 9 %>
            <span class="badge badge-light badge-pill mr-1", title="Citoyen expérimenté">★</span>
          <% end%>
          <i><%= @event.creator.last_name %> <%= @event.creator.first_name %></i>
          <% if @event.creator.has_payed == true %>
            <span class="badge badge-light badge-pill ml-1", title="Citoyen adhérent">🌱</span>
          <% end %>
          <% if @event.end_date < DateTime.now %>
            <span class="badge badge-pill badge-dark float-right">Terminé</span>
          <% else %>
            <span class="badge badge-pill badge-light float-right">Disponible</span>
          <% end %></h5>

        </div>
        
        <div class="card-body p-2">

          <div class="row">
            <div class="col">

              <% if @event.event_type.id == 1 %>
              <%= image_tag(("https://images.pexels.com/photos/1301856/pexels-photo-1301856.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260"),  class:"img-fluid") %>
              <% elsif @event.event_type.id == 2 %>
              <%= image_tag(("https://images.pexels.com/photos/1508666/pexels-photo-1508666.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"),  class:"img-fluid") %>
              <% elsif @event.event_type.id == 3 %>
              <%= image_tag(("https://images.pexels.com/photos/2696064/pexels-photo-2696064.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"),  class:"img-fluid") %>
              <% end %>
              
            </div>
            <div class="col">
              
              <p><strong>Créé par : </strong>
              <% if @event.creator.created_events.length + @event.creator.appointments.length + @event.creator.blogs.length < 9 %>
                <span class="badge badge-light badge-pill mx-1", title="Citoyen expérimenté">★</span>
              <% end%>
              <i><%= @event.creator.last_name %> <%= @event.creator.first_name %></i>
              <% if @event.creator.has_payed == true %>
                <span class="badge badge-light badge-pill ml-1", title="Citoyen adhérent">🌱</span>
              <% end %>
              </p>
              <p><strong>Ville :</strong> <%= @event.address.city %>
              <p><strong>Secteur :</strong> <%= @event.address.sector %>
              <p><strong>Type d'évènement : </strong>
              <% if @event.event_type.id == 1 %>
                <span class="badge badge-pill badge-success"><%= @event.event_type.name %></span>
              <% elsif @event.event_type.id == 2 %>
                <span class="badge badge-pill badge-danger"><%= @event.event_type.name %></span>
              <% elsif @event.event_type.id == 3 %>
                <span class="badge badge-pill badge-warning"><%= @event.event_type.name %></span>
              <% end %>
              <p><strong>Début : </strong><%=l(@event.start_date, format: "%-d %B %Y à %H h %M")%></p>
              <p><strong>Fin : </strong><%=l(@event.end_date, format: "%-d %B %Y à %H h %M")%></p>
              <p><strong>Il y a actuellement <%= @event.appointments.count%> <%= @event.appointments.count > 1 ? 'participants' : 'participant' %></strong></p>
              <% if current_user == @event.creator %>
                <div class="row">
                  <div class="col-3">
                    <%= link_to '<i class="fas fa-recycle"></i>'.html_safe, edit_event_path(@event.id), method: 'get', title:"Modifier", class: 'btn btn-block btn-outline-warning btn-rounded' %>
                  </div>
                  <div class="col-3">
                    <%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, event_path(@event.id), params:{destroy_event: true}, title:"Supprimer", method: 'delete', class: 'btn btn-block btn-outline-danger btn-rounded' %>
                  </div>
                </div>
              <% elsif current_user.is_admin == true %>
                <div class="row">
                  <div class="col-3">
                    <%= link_to '<i class="fas fa-recycle"></i>'.html_safe, edit_event_path(@event.id), method: 'get', title:"Modifier", class: 'btn btn-block btn-outline-warning btn-rounded' %>
                  </div>
                  <div class="col-3">
                    <%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, event_path(@event.id), params:{destroy_event: true}, title:"Supprimer", method: 'delete',data: {confirm: 'Êtes-vous sûr ?'}, class: 'btn btn-block btn-outline-danger btn-rounded' %>
                  </div>       
                </div>
              <% end %>
            </div>
          </div>

          <hr>

          <p class="lead"><%= @event.description %></p>     

          <ul class="list-group list-group-flush">
            <li class="list-group-item text-muted">Publié le <%= l(@event.updated_at, format: "%-d %B %Y")%></li>
          </ul>

          <div class="text-center m-4">

            <!-- Appointment & Feedbacks -->

            <div class="row">
              <% if current_user != @event.creator %>
                <% if @event.end_date > DateTime.now.strftime %>
                  <% @appointment = @event.appointments.find { |appointment| appointment.user_id == current_user.id} %>   
                  <% if @appointment != nil %>
                    <div class="col">
                      <%= link_to 'Je ne veux plus participer', event_appointment_path(@event.id, @appointment.id), method: :delete, class: 'btn btn-block btn-outline-danger btn-rounded' %>  
                      <hr>
                    </div>
                  <% else %>
                    <div class="col">
                      <%= link_to 'Participer', new_event_appointment_path(@event.id), class: 'btn btn-block btn-outline-success btn-rounded' %>
                      <hr>
                    </div>
                  <% end %>
                <% end %>  
              <% end %>
              <% if @event.is_passed == true && current_user == @event.creator %>
                <div class="col">
                  <%= link_to 'L\'évènement est passé - Demander les feedbacks ! ', {:controller => "events", :action => "update", :is_passed => true,}, method: 'patch', class: 'btn btn-block btn-outline-info btn-rounded' %>
                  <hr>
                </div>
              <% end %>          
              <% if @event.start_date < DateTime.now.strftime %>
                <% if user_signed_in? %>  
                  <% if current_user != @event.creator %>
                      <% @appointment = @event.appointments.find { |appointment| appointment.user_id == current_user.id} %> 
                        <% if @appointment != nil %>
                          <div class="col">
                            <%= link_to 'Donner un Feedback', new_event_feedback_path(@event.id), method: 'get', class: 'btn btn-block btn-outline-info btn-rounded' %>
                            <hr>
                          </div>
                        <% end %>
                  <% end %>
                <% end %>
              <% end %>
            </div>

            <div class="row">

              <div class="col">
                <%= link_to "Retour", events_path, class:"btn btn-block btn-outline-success btn-rounded" %>
              </div>

            </div>

          </div>

          <hr>

          <div class="row">
            <div class="col">

              <%= render 'comments/form' %>
              
              <div id="event-comment">
                <% @event.comments.order('created_at DESC').each do |comment| %>

                  <div id="event-comment-<%=comment.id%>">
                    <div class="card p-3">    
                      <div class="media">

                        <%= image_tag((comment.user.avatar), class:"d-flex mr-3 rounded-circle avatar") %>
                        <div class="media-body">
                          <li class="float-right">Posté le <%= l(comment.updated_at,format: "%-d %B %Y à %Hh %M") %></li>
                          <h5 class="mt-0 text-muted">
                          <% if comment.user.created_events.length + comment.user.appointments.length + comment.user.blogs.length < 10 %>
                            <span class="badge badge-light badge-pill mr-1", title="Citoyen expérimenté">★</span>
                          <% end%>
                          <i><%=  "#{comment.user.first_name}" ' ' "#{comment.user.last_name}"%></i>
                          <% if comment.user.has_payed == true %>
                            <span class="badge badge-light badge-pill ml-1", title="Citoyen adhérent">🌱</span>
                          <% end %>
                          </h5>
                          <p><%= comment.text %></p>
                          
                          <% if user_signed_in? && comment.user == current_user || user_signed_in? && current_user.is_admin == true %>

                            <%= link_to '<i class="fas fa-recycle"></i>'.html_safe, edit_comment_path(comment, comment: { text: comment.text, user_id: comment.user_id, event_id: comment.event_id }), title:"Modifier", class:"btn btn-sm btn-outline-warning btn-rounded m-1" %>
                            <%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, comment, method: :delete, remote: true, title:"Supprimer", class:"btn btn-sm btn-outline-danger btn-rounded m-1" %>
                                  
                          <% end %>
                        </div>


                      </div>
                    </div>
                  </div>

                <% end %>
              </div>
        
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
